body {
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.9);
    margin: 0;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-color: rgb(30, 215, 96);
    margin: 0;
    width: 100%;
}

header h1 {
    text-align: center;
    font-size: 3rem;
    margin: 0;
}

#search {
    display: flex;
    padding: 2rem;
    margin: 5rem;
    flex-direction: column;
    align-items: space-around;
    width: 20%;
}

#searchbar {
    padding: 5px 2px;
    border-radius: 4rem;
    text-align: center;
}

#buttondiv {
    display: flex;
    justify-content: center;
}

button {
    background-color: rgb(30, 215, 96);
    margin: 10px 0;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
}

button:hover {
    cursor: pointer;
}

#content {
    display: flex;
    justify-content: center;
    width: 100%;
}

#result-div, #playlist-div {
    color: rgb(30, 215, 96);
    width: 500px;
    margin: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.track {
    width: 90%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-radius: 20px;
    margin: 5px 0;
}

.info {
    margin: 0 20px;
}

.name {
    font-size: 1.2rem;
}

.artist {
    font-size: 1rem;
}

.card-button-div {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-button {
    padding: 0 2px;
    font-size: 1rem;
    border-radius: 5px;
    background-color: gray;
}

#auth-button {
    margin-top: 300px;
}