body {
    box-sizing: border-box;
    background-color: darkslategray;
    margin: 0;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-color: darkslateblue;
    margin: 0;
    width: 100%;
}

header h1 {
    text-align: center;
    font-size: 3rem;
    margin: 0;
}

#search {
    display: flex;
    padding: 2rem;
    margin: 5rem;
    flex-direction: column;
    align-items: space-around;
    width: 20%;
}

#searchbar {
    padding: 5px 2px;
    border-radius: 4rem;
    text-align: center;
}

#buttondiv {
    display: flex;
    justify-content: center;
}

#searchbutton {
    margin: 0;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
}

#content {
    display: flex;
    justify-content: center;
    width: 100%;
}

#result-div, #playlist-div {
    border: 1px solid black;
    width: 500px;
    height: 700px;
    margin: 20px 50px;
}

